
.contianer {
    background-color: #B0E2FF;
    margin: 0;
    padding: 0;
    height: 3rem;
    font-size: 0;
}

.log_mnue {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    width: 2rem;
}

.home_mnue {
    display: inline-block;
    /* vertical-align: middle; */
    font-size: 2rem;
    width: calc(100% - 3rem);
}

.menu_logo {
    width: 2rem;
    height: 3rem;
    /* vertical-align: middle; */
}

.home {
    line-height: 3rem;
    display: inline-block;
    vertical-align: middle;
}
